!!!
%html{"xmlns"=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{"content"=>"text/html; charset=iso-8859-1", "http-equiv"=>"Content-Type"}/
    %title
      = :page_title.l
      =' | '<<@query if @query
    = stylesheet_link_tag 'style'
    %link{"href"=>"/images/zafh_net.png", "rel"=>"shortcut icon", "type"=>"image/vnd.microsoft.icon"}/
  %body
    #wrapper
      #content
        #header
        #mainimg
          %p= link_to :help.l, :help_file.l
          %h3
            =:type_your_query_here.l
            &darr;
          -form_tag(:action=>:check_query) do
            = text_field_tag :query, @query, :size=>60, :class=>'text_field'
            %br/
            = submit_tag "#{:search.l}", :class => 'btn'
        #contentarea
          = yield(:info_bar)
          #results
            = yield
            %br/
        #bottom
          = yield(:info_bar) unless nothing_found?
          #link
            =link_to 'Picolena', 'http://picolena.devjavu.com/'
          #validtext
            %p
              Valid
              =link_to 'XHTML', 'http://validator.w3.org/check?uri=referer'
              |
              =link_to 'CSS', 'http://jigsaw.w3.org/css-validator'